:root {
      --primary-color: #7c3aed;
      /* --off-white: #f3f4f6;
      --dark-gray: #6b7280; */
    }
.navigation {
      background-color: var(--primary-color);
      color: white;
      padding: 1rem;
      border-bottom-left-radius: 1rem;
    }
    h1 {
      font-size: 40px;
    }
    
    p {
      font-size: 20px;
    }

    .btn {
      background-color:#7c3aed ;
      border: none;
      color: white;
      padding: 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 20px;
      margin: 4px 2px;
    }
    
    .btn{border-radius: 12px;}
    /* .button1 {background-color: #4CAF50;} Green */
    /* .button2 {background-color: #008CBA;} Blue */